<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello World!</title>
        <meta charset="UTF-8"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    </head>
    <body>
    <h1 th:text="${'hello World!'}">Hello world!</h1>
        <div ng-app="">
            <p>이름을 입력하세요 : <input type="text" ng-model="name" ng-init="menu = [{'price':'5000','name':'김떡순'},{'price':'6000','name':'돈까스'},{'price':'16000','name':'양념치킨'}]"/></p>
            <p><span ng-bind="name"></span>님 반갑습니다!</p>

            <ul>
                <li ng-repeat="food in menu">
                    {{'메뉴: ' + food.name + '   가격: ' + food.price + '원'}}
                </li>
            </ul>

        </div>
    </body>
</html>